/* menu */

head{display: flex;
justify-content: space-between;align-items: center; }
/* @font-face{font-family:"DESIGNER" ;src:local(.);} */
@font-face {
    font-family: designer;
    src: url(DESIGNER.TTF); }
#home-big-title{ font-family:"designer"; ;font-size: 35em; text-align:center; margin: 0em;}
#home{top: 80px;;height: 900px; width: 100%; background-image: url(color.jpg); background-position: center; background-size: cover; position: absolute;background-repeat: no-repeat;  left: 0; z-index: -1; filter: blur(4px);}

  header{display: block;height: 900px; text-align: center;}

  #txt{ display: block;align-items: center;text-align: center;}

  a {
	text-decoration: none; 
}

.et-hero-tabs,
.et-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background: #eee;
		text-align: center;
		padding: 0 2em;
}

.et-slide h1 {
    font-size: 2rem;
    margin: 0;
    letter-spacing: 1rem;
}
.et-slide h3 {
    font-size: 1rem;
    letter-spacing: 0.3rem;
    opacity: 0.6;
}

#nav{
    display: flex;
    flex-direction: row;
    width: 97%;
    height: 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: #fff;
    z-index: 10;
}

#nav--top {
        position: fixed;
        top: 0;
    }

.et-hero-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #000;
    letter-spacing: 0.1rem;
		transition: all 0.5s ease;
		font-size: 0.8rem;	  
}

.et-hero-tab:hover {
    color:rgb(255, 205, 164);
background:   rgb(100, 110, 73);;  
}

    


.et-hero-tab-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 6px;
    background: #66B1F1;
    transition: left 0.3s ease;
}

@media (min-width: 800px) { 
    .et-hero-tabs h1 {
            font-size: 3rem;
        }
        .et-hero-tabs h3 {
            font-size: 1rem;
        }
        
        .et-hero-tabs .et-hero-tab {
            font-size: 1rem;
        }
	.et-slide h1 {
            font-size: 3rem;
        }
	.et-slide h3 {
            font-size: 1rem;
        }
        
	.et-slide .et-hero-tab {
            font-size: 1rem;
        }
}
#famas{display: block;align-content: center;}